body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #f70707;
  text-align: center;
}

h2 {
  color: #675bdb;
  margin-top: 30px;
}

.section {
  margin-bottom: 20px;
}

.personal-info {
  font-size: 16px;
}

.nav-bar {
  background-color: #b2f5c6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: #030303;
  padding: 5px 10px;
}

.nav-bar a:hover {
  color: #ff0000;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* CSS rules for screens between 601px and 1024px */
  }
  
  @media only screen and (min-width: 1025px) {
    /* CSS rules for screens larger than 1024px */
  }

  h1 {
    font-size: 24px;
    margin-top: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .personal-info {
    font-size: 12px;
  }
}